<section class="index-page">
  <div>
    <img class="avatar" src={{{photo}}} alt="" />
    <h2 class="username">Hello {{name}}</h2>
  </div>
  <a href="/user/profile" class="profileBtn">
    Profile
  </a>
  <a href="/auth/logout" class="logoutBtn">
    Logout
  </a>
</section>